Package: com.chr1s.anothercolorpicker
Name: Another Color Picker
Version: 0.0.1
Architecture: iphoneos-arm
Description: Just "another color picker"
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
